nav(class='container-fluid', id='workoutsNav')
	ul(class='row')
		div(class='col-md-2')
		ul(class='col-md-4')
			li
				a(href='/chest')  Chest  
			br
			li
				a(href='/triceps')  Triceps  
			br
			li
				a(href='/biceps')  Biceps  
			br
			li
				a(href='/abdominals')  Abdominals  
			br
			li
				a(href='/back')  Back 
			br 
		div(class='col-md-4')
			li
				a(href='/legs')  Legs 
			br 
			li
				a(href='/forearms')  Forearms  
			br
			li
				a(href='/shoulders')  Shoulders  
			br
			li
				a(href='/cardio')  Cardio  
			br 
		div(class='col-md-2')
		
